/* Debug */
.debug .row [class*="col-"] {
  background-color: lightblue;
  border: 1px solid black;
}

.debug .row {
  height: 150px;
}

.debug .row [class*="col-"] {
  height: 100%;
}

.debug .row .row [class*="col-"] {
  background-color: coral;
  border: 1px solid white;
}
/* / debug */

/* Header */
.bg_blue {
  height: 80px;
  background-color: #2C3E50;
}

.bg_green {
  background-color: #1ABC9C;
}
/* / header */
