/* Debug */
.debug .row [class*="col-"] {
  background-color: lightblue;
  border: 1px solid black;
}

.debug .row {
  height: 200px;
}

.debug .row [class*="col-"] {
  height: 100%;
}

.debug .row .row [class*="col-"] {
  background-color: coral;
  border: 1px solid white;
}
/* / debug */

/* tipografy */
h1 {
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  text-transform: uppercase;
}
/* / tipografy */

/* classi riutilizzabili */
.ms_text_white {
  color: white;
}

.contenitore {
  padding: 0 70px;
}

/* background-color */
.bg_blue {
  background-color: #2C3E50;
}

.bg_green {
  background-color: #1ABC9C;
}

.bg_grey {
  background-color: #3A546D;
}
/* / background-color */
/* / classi riutilizzabili */

/* Header */
/* navbar */
header .navbar {
  height: 80px;
}

.navbar.ms_navbar{
  background-color: #2c3e50;
  border:0;
  margin-bottom: 0;
  padding: 20px 0;
}

.navbar.ms_navbar .navbar-brand,
.navbar.ms_navbar .navbar-nav li a,
#jumbotron .container .row h3{
  color:white;
  text-transform: uppercase;
}

.navbar.ms_navbar .navbar-nav li a:hover{
  color:#1abc9c;
}
/* / navbar */

/* jumbotron */
#jumbotron {
  padding: 150px 0 50px;
}

#jumbotron .ms_star:before,
#jumbotron .ms_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: white;
}


.ms_star i {
  font-size: 30px;
  vertical-align: middle;
  margin: 0 30px;
}
/* / jumbotron */
/* / header */


/* main */

/* portfolio */
#portfolio {
  padding-bottom: 50px;
}

#portfolio .ms_star:before,
#portfolio .ms_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: #2C3E50;
}

.ms_bg_portfolio {
  height: 300px;
  border-radius: 10px;
}

.bg_portfolio {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 15px solid white;
  border-radius: 25px;
}

.mb_portfolio {
  margin-bottom: 20px;
}

.cabin {
  background-image: url('../img/cabin.png');
}

.cake {
  background-image: url('../img/cake.png');
}

.circus {
  background-image: url('../img/circus.png');
}

.game {
  background-image: url('../img/game.png');
}

.safe {
  background-image: url('../img/safe.png');
}

.submarine {
  background-image: url('../img/submarine.png');
}

#portfolio .row .layover {
  width: 100%;
  position: relative;
}

#portfolio .row .layover .plus {
  height: 100%;
  border-radius: 10px;
}


#portfolio .row .layover i{
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#portfolio .layover:hover .plus{
  background-color: rgba(41, 179, 84, 0.47);
}

#portfolio .layover:hover i {
  color: rgb(32, 126, 25);
  display: block;
}
/* /portfolio */

/* about */
#about {
  padding: 60px 0 50px;
}
#about .ms_star:before,
#about .ms_star:after {
  content: '';
  display: inline-block;
  width: 10%;
  height: 4px;
  border-radius:2px;
  background-color: white;
}

#about p {
  line-height: 1.6;
  padding: 0 60px 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

#about a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}
/* / about */

/* contact */
#contact {
  padding-bottom: 60px;
}

#contact .ms_star:before,
#contact .ms_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: #2C3E50;
}

#contact input, textarea {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

/* / contact */

/* / main */
