/* Debug */
.debug .row [class*="col-"] {
  background-color: lightblue;
  border: 1px solid black;
}

.debug .row {
  height: 100px;
}

.debug .row [class*="col-"] {
  height: 100%;
}

.debug .row .row [class*="col-"] {
  background-color: coral;
  border: 1px solid white;
}
/* / debug */

/* tipografy */
h1 {
  font-size: 60px;
  text-transform: uppercase;
}
/* / tipografy */

/* classi riutilizzabili */
.ms_text_white {
  color: white;
}

/* background-color */
.bg_blue {
  background-color: #2C3E50;
}

.bg_green {
  background-color: #1ABC9C;
}

.bg_grey {
  background-color: #3A546D;
}
/* / background-color */
/* / classi riutilizzabili */

/* Header */
/* navbar */
header .navbar {
  height: 80px;
}

.navbar.ms_navbar{
  background-color: #2c3e50;
  border:0;
  margin-bottom: 0;
  padding: 20px 0;
}

.navbar.ms_navbar .navbar-brand,
.navbar.ms_navbar .navbar-nav li a{
  color:white;
  text-transform: uppercase;
}

.navbar.ms_navbar .navbar-nav li a:hover{
  color:#1abc9c;
}
/* / navbar */

/* jumbotron */
#jumbotron {
  padding: 150px 0 50px;
}

.ms_star:before,
.ms_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: white;
}

.ms_star i {
  font-size: 30px;
  vertical-align: middle;
  margin: 0 30px;
}
/* / jumbotron */

/* / header */
